.home-title {
  color: var(--font);
  margin: 3rem;
}

.home-container {
  margin-top: 2vh;
  padding: 32px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
}

.products-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.product-card {
  background-color: white;
  margin: 0px 20px 30px 20px;
  padding: 30px;
  width: 250px;
  border-radius: 10px;
  transition: all ease 0.5s;
  cursor: pointer;
}

.product-card:hover {
  transform: scale(1.1);
}

.product-card img {
  width: 100%;
}

.product-card p {
  margin-top: 0.5rem;
  font-size: 0.8rem;
}

.product-card div span {
  font-size: 0.8rem;
  font-weight: bold;
}

.product-card div {
  margin-top: 0.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.loading {
  display: flex;
  justify-content: center;
  margin-top: 16vh;
  height: 25rem;
}

@media only screen and (max-width: 880px) {
  /* .products-container {
    flex-wrap: nowrap; 
  } */
  
  .home-title {
    margin-top: 160px;
  }

  .product-card {
    width: 300px;
  
  }
}

@media only screen and (max-width: 480px) {
  .home-title {
    margin-top: 100px;
  }

  .product-card {
    width: 350px;
   
  }
}
