.emptyListContainer {
  display: flex;
  justify-content: center;
  margin-top: 16vh;
  height: 25rem;
}

.favorites {
  display: flex;
  flex-direction: column;
  margin-top: 150px;
}

@media only screen and (max-width: 600px) {
  .emptyListContainer {
    margin-top: 100px;
  }
}
